/* body
{
    background-color: brown;
} */

#cv-form{
    /* display: none; */
}

#cv-template{
    display: none;
}

.myImg{
    /* border: 1px solid; */
    border-radius: 50%;
    width: 200px;
}

.background{
    background-color: aqua;
}